* {
	box-sizing: border-box;
}


body{
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw; /* ze azért kell mert table formátumra alakítottuk*/
  display: table;
}

.wrapper{
  display: table-cell;
  vertical-align: top;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.quote{
  font-family: 'Crimson Text', serif;
  font-size: .925rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 8rem;

}

.author{
  font-family: 'Julius Sans One', serif;
  font-size: .525rem;
  padding: 2rem;
}


.btn {
  display: inline-block;
  text-decoration: none;
  font-family: 'Crimson Text', Arial;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.42857143;
  padding: .325rem .3rem;
  border: 1px solid transparent;
  border-radius: 8px;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
}
  
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


/********  FULL SCREEN HEADER ***************/


@media (min-width: 768px) {
  .quote{
      font-size: 2.125rem;
      padding-top: 14rem;
  }

  .author{
    font-size: 1.525rem;
    padding: 4rem;
  }

