* {
	box-sizing: border-box;
}


body{
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw; /* ze azért kell mert table formátumra alakítottuk*/
  display: table;
}

.wrapper{
  display: table-cell;
  vertical-align: top;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.quote{
  font-family: 'Crimson Text', serif;
  font-size: 2.125rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 14rem;

}

.author{
  font-family: 'Julius Sans One', serif;
  font-size: 1.525rem;
  padding: 4rem;
}